/* src/app/companies/company-list/company-list.component.scss */
.container {
    margin: 20px;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  