/* src/app/candidates/candidate-list/candidate-list.component.scss */
.container {
    margin: 20px;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  